<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bang xep hang tay dua</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
  <div class="container-fluid text-center">
    <div class="mb-3">
      <h1>BXH tay đua</h1>
      <h2>Mùa giải: [[${namToChuc}]]</h2>
    </div>
    <div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>TT</th>
            <th>Mã</th>
            <th>Tên tay đua</th>
            <th>Tên chặng</th>
            <th>thời gian về đích</th>
            <th>thứ hạng</th>
            <th>điểm</th>
          </tr>

        </thead>
        <tbody>
          <th:block th:each="tayDua, iter: ${listTayDuaDto}">
            <tr>
              <td>[[${iter.index}]]</td>
              <td>[[${tayDua.id}]]</td>
              <td>[[${tayDua.tenTayDua}]]</td>
              <td>[[${tayDua.tenChang}]]</td>
              <td>[[${tayDua.thoiGianVeDich}]]</td>
              <td>[[${tayDua.thuHang}]]</td>
              <td>[[${tayDua.diem}]]</td>
            </tr>
          </th:block>
        </tbody>
      </table>
      <a class="btn btn-primary" th:href="@{'/bang-xep-hang-chang-dua/' + ${changDuaId}}" role="button" style="position: absolute; left: 15px" >Quay lại</a>
    </div>
  </div>
</body>
</html>