<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bang xep hang tay dua</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
  <div class="container-fluid text-center">
    <div class="mb-3">
      <h1>BXH chặng đua</h1>
    </div>
    <div>
      <div class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>TT</th>
            <th>Mã</th>
            <th>Tên tay đua</th>
            <th>Tên chặng</th>
            <th>thời gian về đích</th>
            <th>thứ hạng</th>
            <th>điểm</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </div>
    </div>
  </div>
</body>
</html>