<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>BXH Đội đua</title>
</head>
<body>
    <div class="container-fluid text-center">
        <div class="mb-3">
            <h1>BXH Đội đua</h1>
            <h2>Mùa giải: [[${namToChuc}]]</h2>
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Mã đội</th>
                        <th>Tên đội</th>
                        <th>Hãng</th>
                        <th>Tổng điểm</th>
                        <th>Tổng thời gian(phút)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="doiDua, iter: ${listDoiDuaDto}">
                        <tr>
                            <td>[[${iter.index}]]</td>
                            <td>[[${doiDua.id}]]</td>
                            <td>[[${doiDua.ten}]]</td>
                            <td>[[${doiDua.hang}]]</td>
                            <td>[[${doiDua.tongDiem}]]</td>
                            <td>[[${doiDua.tongThoiGian}]]</td>
                            <td>
                                <a href="/bang-xep-hang-chang-dua">Chọn</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <a class="btn btn-primary" href="/chon-thong-ke" role="button" style="position: absolute; left: 15px">Quay lại</a>
        </div>

    </div>

</body>
</html>